<!--
  // TODO: criar o layout como no diagrama
  // TODO: adicionar o link de navegação à sidebar
  // TODO: exibir a resposta da data-hora consultada na api
  // TODO: adicionar um input e um botão à página
  // TODO: criar um método POST no api.service que envie o texto do input e exiba a resposta na página
-->
<div>
  <header>
    <h1>Titulo da Página</h1>

  </header>
  <nav>
    <a href="#">Start</a>
  </nav>
  <div>
    <div>
      <p>{{ apiGreeting }}</p>
      <p>{{ dataHoraAtual }}</p>
    </div>
    <form [formGroup]="textoForm" (ngSubmit)="onSubmit()">
      <label for="texto"></label>
      <input type="text" formControlName="texto" id="texto">
      <button type="submit">Enviar</button>
    </form>

    <div>
      {{texto}}
    </div>
  </div>
</div>
