<!--
  // TODO: criar o layout como no diagrama
  // TODO: adicionar o link de navegação à sidebar
  // TODO: exibir a resposta da data-hora consultada na api
  // TODO: adicionar um input e um botão à página
  // TODO: criar um método POST no api.service que envie o texto do input e exiba a resposta na página
-->
<div id="pagina">
  <header>
    <h1>Título da página</h1>

  </header>
  <div id="container">
    <nav>
      <h3>SIDEBAR</h3>
      <a [routerLink]="[ '/start']">Start</a>
    </nav>
    <div id="principal">
      <div>
        <p>{{ apiGreeting }}</p>
        <p><strong>Data Hora atual: </strong>
          {{ dataHoraAtual  | date:'dd/MM/YYYY HH:mm:ss'}}</p>

        <div *ngIf="mensagemDeErro" class="erro">
          {{mensagemDeErro}}
        </div>
      </div>
      <form [formGroup]="textoForm" (ngSubmit)="onSubmit()">
        <div>
          <input type="text" formControlName="texto" id="texto">
        </div>
        <div>

          <button type="submit">Enviar</button>
        </div>
      </form>

      <div id="resposta-texto">
        <p *ngIf="texto"><strong>Texto: </strong>{{texto}}</p>
      </div>
    </div>
  </div>
</div>
